@font-face{
    src: url('../../fonts/Montserrat/Montserrat-Regular.ttf');
    font-family: montreg;
}

body {
    margin: 0;
    text-align: center;
}

.Admin{
    text-align: center;
}

.Admin-card{
    font-family: montreg;
    color: black;
    height: 500px;
    width: 700px;
    background-color: #0AC98F;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.Header{
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: rgba(255, 255, 255, 0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: montreg;
}
.Words{
    text-align: center;
}


/* ##### Columns ##### */
.column1 {
	float: left;
	width: 50%;
	padding: 10px;
}
.column2 {
	float: right;
	width: 30%;
    padding: 20px;
    /* color: black;
    background-color: lightgray; */
	
}


.flot1 {
    float: left;
    width: 100;
}

.flexbox{
    display: flex;
}

.int-col{
    box-shadow: 5px 5px 10px black;
    background-color: #0AC98F;
    border-radius: 10px;
    margin-right: 10px;
    color:black;
    flex: 1;
}

.lunar-col{
    box-shadow: 5px 5px 10px black;
    background-color: #0AC98F;
    border-radius: 10px;
    margin-left: 10px;
    color:black;
    flex: 1;
}